$primary: #557DEA;
$gray: #BCBCC4;

$scrollbar-track-color: #eee;
$scrollbar-thumb-color: #ccc;

$font-size-base: 16px;
$btn-font-size: $font-size-base * 1.125;
$input-font-size: $font-size-base * 1.125;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;